body {
    background-color: whitesmoke/*mintcream*/;
    color: deepskyblue;
    padding: 0px;
    margin: 0px;

    padding-top: 70px;
}

/* Grid */
#grid-container {
  width: 100%;
  max-width: 1200px; /* Vorschlag */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*-- our cleafix hack -- */
#row:before,
#row:after {
    content:"";
    display: table;
    clear: both;
}

[id*='col-'] {
    padding: 0 0 0 0;
    margin: 0;
    float: left;
    min-height: 1px;
}

#col-1 { width: 100%; }
#col-2 { width: 50%;}
#col-3 { width: 33.33%; }



/* Schrift */

h1 {
  text-align: center;
  padding-left: 10px;
  font-size: 30px;
  font-family: arial, "lucida console", sans-serif;
}

h2, h3 {
  padding-left: 10px;
  font-size: 20px;
}

/* BaseLayout */

#baseLayout {
  position: fixed;
  top: 0;
  z-index: 999;

  width: 100%;
}

/* Dashboard */

#dashboard {
  padding-left: 20px;
  padding-right: 20px;

}

#buttonHeader {
  text-align: center;
  padding-bottom: 10px;
  width: 100%;
}

#graph_waterlevel,
#graph_phval {

}

#graph_waterlevel {

}

#graph_phval {

}
/* DetailPage */

#detailPage {
  text-align: right;
  padding-left: 20px;
  padding-right: 20px;
}
