body {

    background-color: whitesmoke/*mintcream*/;
    color: deepskyblue;
    padding: 0px;
    margin: 0px;

    padding-top: 70px;
}


/* Grid */
#container {
  width: 100%;
  /*max-width: 1200px; /* Vorschlag */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*-- our cleafix hack -- */
#row:before,
#row:after {
    content:"";
    display: table;
    clear: both;
}

[id*='col-'] {
    padding-left: 1px;
    padding-bottom: 5%;
    min-height: 1px;
}

#col-1 { width: 100%; max-height: 60%; }
#col-2-left { width: 49.5%; float: left; }
#col-2-right { width: 49.5%; float: right; }
#col-5 { width: 20%; float: left; padding-left: 7px;}
#col-3 { width: 33.3%; float: left; }



/* Schrift */

h1 {
  text-align: center;
  padding-left: 5%;
  font-size: 30px;
  font-family: arial, "lucida console", sans-serif;
}

#detailMode {
  text-align: left;
}


h2, h3, h4, h5, h6, a, p {
  padding-left: 5%;
  font-size: 20px;
  font-family: arial, "lucida console", sans-serif;
}

h3, a, p {
  font-size: 17px;
  font-weight: normal;
  color: deepskyblue;
}

h2 {
  text-align: center;
}

h5 {
  color: red;
}
 h6 {
   font-size: 17px;
   font-weight: normal;
   font-style:oblique;
 }

/* BaseLayout */

#baseLayout {
  position: fixed;
  top: 0;
  z-index: 999;

  width: 100%;
}

/* Startseite */

#home {
  text-align: center;
  position:relative;
  padding-top: 8%;
  z-index: 10;
  color: white;
}

#banner {
  position: fixed;
  top: 70px;
  left: 0;

  z-index: 1;

  min-width: 100%;
  min-height: 50%;

  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

#home_login {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

/* Dashboard */

#dashboard {
  padding-left: 20px;
  padding-right: 20px;

}

#buttonHeader {
  text-align: center;
  padding-bottom: 30px;
  width: 100%;
}


/* DetailPage */

#detailPage {
  padding-left: 20px;
  padding-right: 20px;
}

#timeButton {
  text-align: right;
  padding-top: 3%;
}

/* LoginText */

#loginButton {
  padding-right: 0px;
}

/* LoginText */

#loginButton {
  padding-right: 0px;
}

/* HelpPage */

#help1, #help2, #help3, #help0 {
  padding-top: 100px;
}

#helppassage {
  padding-left: 5%;
  padding-right: 5%;
}

#helpbtt {
  padding-right: 5%;
  text-align: right;
}

#helpimage {
  width: 80%;
  height: auto;
  align-content: center;;
  margin: 0%;
  border: 2px solid deepskyblue;

}
